.checkbox-flex {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-evenly;
}
.submitbtn {
  display: flex;
  justify-content: center;
}
.formlink {
  color: $text-color-lightblue;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.labelcheckbox {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $text-color-grey;
  align-items: center;
  display: inline-flex;
  &:focus-within {
    outline: 2px solid black;
  }
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + .checkicon {
    border-color: $text-color-lightblue;
    background-color: $var1;
    background-image: url("../images/icon-check1.svg");
    background-size: contain;
    background-origin: border-box;
    transition: $transition;
  }
}
.checkbox {
  display: inline-block;
}
.checkicon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: background-color, border-color;
}
