.form {
  max-width: 100%;
  &-filed {
    position: relative;
    margin-bottom: 28px;
    &:focus .input-form {
      border: 1px solid rgba(33, 150, 243, 0.9);
      border-radius: 4px;
      transition: $transition;
      transition-property: border-color;
    }
  }
  &-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: $transition;
  }
  &-icon {
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(+110%);
    display: inline-block;
  }
  &-comment {
    position: absolute;
    top: -7%;
    left: 0;
    transform: translateY(-50%);
  }
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var (--text-color-dark);
    margin-bottom: 30px;
  }
}
.input-form {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  &:focus + .form-label,
  &:not(:placeholder-shown) + .form-label {
    left: 0;
    transform: translateY(-40px);
  }
  &:focus {
    fill: $text-color-lightblue;
    border: 1px solid rgba(33, 150, 243, 0.9);
    border-radius: 4px;
    ~ .form-icon {
      fill: $text-color-lightblue;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding-left: 40px;
    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label {
      left: 0;
      transform: translateY(-40px);
    }
    &:focus {
      fill: $text-color-lightblue;
      border: 1px solid rgba(33, 150, 243, 0.9);
      border-radius: 4px;
      ~ .form-icon {
        fill: $text-color-lightblue;
      }
    }
  }
}
.input-comment {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  &:focus {
    border: 1px solid rgba(33, 150, 243, 0.9);
    border-radius: 4px;
    transition: $transition;
    transition-property: border-color;
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    &:focus {
      border: 1px solid rgba(33, 150, 243, 0.9);
      border-radius: 4px;
      transition: $transition;
      transition-property: border-color;
      outline: none;
    }
    &::placeholder {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}
.labeltext {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $text-color-grey;
}
