.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  fill: $text-ikons-grey;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    fill: $text-ikons-grey;
  }
}
.client-links {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
  height: 90px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}
.link-size {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid $text-ikons-grey;
  border-radius: 4px;
  color: $text-ikons-grey;
  transition: $transition;
  transition-property: color, border;
  &:hover,
  &:focus {
    color: $text-color-lightblue;
    border: 1px solid $blue-light-color;
  }
}
.clients-color {
  fill: currentColor;
}
