.phone-color {
  display: none;

  @media screen and (min-width: 768px) {
    color: $text-color-grey;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: $transition;
    transition-property: color, fill;
    &:hover,
    &:focus {
      color: $text-color-lightblue;
      fill: currentColor;
      transition: $transition;
    }
  }
  @media screen and (min-width: 1200px) {
    color: $text-color-grey;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: $transition;
    transition-property: color, fill;
    &:hover,
    &:focus {
      color: $text-color-lightblue;
      fill: currentColor;
      transition: $transition;
    }
  }
}
.nav-links-contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    .head-items {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.links {
  position: relative;
  color: $text-color-dark;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: $transition;
  transition-property: fill, color, opacity;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $text-color-lightblue;
    transition: $transition;
    opacity: 0;
  }
  &:hover,
  &:focus {
    color: $text-color-lightblue;
    fill: currentColor;
    transition: $transition;
  }
}
.current.links::after,
.links:hover::after {
  transition: $transition;
  opacity: 1;
}
