.footer-position {
  display: block;
  margin-right: auto;
}
.position-services {
  display: flex;
  justify-content: center;
}
.labeltitle {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;
  margin-bottom: 20px;
}
.dimentions {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: $main-background-color;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
  outline: transparent;
  &:focus {
    border: 1px solid rgba(33, 150, 243, 0.9);
    border-radius: 4px;
  }
}
.form-path {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plane {
  fill: $main-background-color;
  margin-left: 10px;
}
