.content-space {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}
.footer-title {
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-background-color;
  margin-bottom: 20px;
}
.footer-link-flow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: $transition;
  transition-property: background-color;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: $text-color-lightblue;
    transition: $transition;
  }
}

.footerlinks {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $transition;
  transition-property: background-color;
  &:hover,
  &:focus {
    background-color: $text-color-lightblue;
    transition: $transition;
  }
}

.tablet-footer {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
