.main-section {
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/head/head-mob1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-background-color;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/head/head-mob2.jpg);
  }

  @media screen and (min-width: 768px) {
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark-background-color;
  }

  @media screen and (min-width: 1200px) {
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark-background-color;
  }
}
.owerlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  max-width: 360px;
  margin: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 696px;
    margin: auto;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  color: $main-background-color;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-background-color;
    text-transform: uppercase;
  }
}
/*
.headline {
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-background-color;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-background-color;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
} 
*/
.order {
  color: $main-background-color;
  background-color: $blue-light-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
