.menu-ul {
  margin-bottom: auto;
}

.mobile-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $text-color-dark;
  margin-bottom: 32px;
}
.mobile-link.current {
  color: $blue-light-color;
}
.menu-phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $text-color-grey;
  margin-bottom: 32px;
}
.menu-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $text-color-grey;
  margin-bottom: 64px;
}
.mobile-ul {
  display: inline-flex;
}
.mobile-soc {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-soc {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $blue-light-color;
}
