.web-color {
  color: $text-color-lightblue;
}
.studio-color {
  color: $text-color-black;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.text-decor {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: unset;
    width: unset;
  }
}
.nav-links {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    .head-items {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    .head-items {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.menu-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
