.web-color {
  color: $text-color-lightblue;
}
.studio-color {
  color: $text-color-black;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.text-decor {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: unset;
    width: unset;
  }
}
.nav-links {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    .head-items {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    .head-items {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.menu-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  right: 15px;
  z-index: 3;
  position: absolute;

  &:hover,
  &:focus {
    fill: $blue-light-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn .icon-cross {
  display: none;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  display: none;

  position: absolute;
  top: 0;
  width: 100%;

  background-color: white;
  padding: 40px;
  z-index: 2;
  left: -15px;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
