.what-we-do-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
  }
}
.service-list {
  display: block;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.pic-border {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background: $background-picture;

  @media screen and (min-width: 768px) {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background: $background-picture;
  }
}
.text-color {
  color: $text-color-grey;
  line-height: 1.71;
}
.ourquality {
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  @media screen and (min-width: 1200px) {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
}
