body {
  background: $main-background-color;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
footer {
  background: $dark-background-color;
}

nav .links.current {
  color: $blue-light-color;
  display: block;
}

img,
a,
svg {
  display: block;
}
textarea {
  resize: none;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}
.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
