$main-background-color: #ffffff;
$dark-background-color: #2f303a;
$blue-light-color: #2196f3;
$line-color: #ececec;
$background-picture: #f5f4fa;

$text-color-dark: #212121;
$text-color-grey: #757575;
$text-color-lightblue: #2196f3;
$text-color-black: #000000;
$text-color-grey-through: rgba(255, 255, 255, 0.6);
$text-ikons-grey: #afb1b8;

$transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
$font-family-main: Roboto;
